:root {
	--color-main: #e1e1e1;
	--color-hover: white;

	--accent-main: #b00000;
	--accent-hover: red;

	--background-dark-one: black;

	--font-weight: 500;

	--slide-image-large: 700px;
	--slide-image-medium: 600px;
	--slide-image-small: 400px;
	--slide-image-smaller: 280px;
	--slide-image-smallest: 200px;

	--button-underline-size: 3px;
	--button-scale-factor: 1.2;

}

::selection {
	background: var(--accent-hover);
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	background:var(--background-dark-one);
	color: var(--color-main);

	font-size: 12pt;
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: var(--font-weight);
	font-style: normal;
	font-variation-settings: "wdth" 100;
}


button {
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


a {
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*#hakkimizda, #hizmetlerimiz, #iletisim, .nav-layout {
	max-width: 1300px;
	margin: 0 auto;
}*/
